@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #f26c0d;
  --color-background-light: #f8f7f5;
  --color-background-dark: #221710;
}

@layer base {
  body {
    @apply font-sans bg-background-light text-slate-900;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
